extends ./layouts/index

block slider 
    .slider
        h1 Rio de Janeiro 
        em Aventura

block contenido 
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Fusce id mi ultricies, tempor lorem et, convallis urna. Sed leo purus, gravida sed condimentum et, ultrices a nisi. Curabitur pretium sapien non metus sollicitudin mollis. Nullam finibus commodo neque at interdum. Morbi dictum mi nisl, vel lacinia neque tempor vel.
                p Aenean nunc diam, maximus at libero vitae, rutrum consequat sapien. Morbi congue, urna et vehicula scelerisque, leo purus imperdiet purus, ut faucibus orci risus vitae mauris. Vestibulum vel dictum nulla, ornare venenatis velit. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        include ./layouts/bloque_viajes
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $60.000 ARS
    .container
        h2.mt-5.mb-3.text-center Testimoniales 
        include ./layouts/bloque_testimoniales