extends ./layouts/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1=pagina 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec aliquam nisi, at volutpat neque. Vestibulum in pellentesque sem. Nulla facilisi.

                p Ut placerat consequat nibh. Etiam maximus quam ullamcorper tellus tempor tristique. Sed sit amet lacus ac odio condimentum semper vel vitae ex. Donec ut ipsum ante. Maecenas convallis hendrerit elit, ut maximus tortor fermentum non. Suspendisse mollis posuere diam ut iaculis. Maecenas metus lorem, vehicula eu ultricies tristique, vulputate sit amet lectus. Aliquam tempus dolor ut purus facilisis varius. 

                p Aliquam nulla ex, scelerisque a ullamcorper nec, placerat eu enim. Curabitur varius felis vitae arcu semper, eget tristique magna tristique. Donec non nunc ut lectus blandit mollis. Maecenas placerat porttitor blandit. Nullam efficitur sit amet velit ac pulvinar. Duis vestibulum purus nec sollicitudin maximus. Integer a tincidunt ex.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Maecenas placerat porttitor blandit. Nullam efficitur sit amet velit ac pulvinar. Duis vestibulum purus nec sollicitudin maximus. Integer a tincidunt ex.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Maecenas placerat porttitor blandit. Nullam efficitur sit amet velit ac pulvinar. Duis vestibulum purus nec sollicitudin maximus. Integer a tincidunt ex.
                    
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Maecenas placerat porttitor blandit. Nullam efficitur sit amet velit ac pulvinar. Duis vestibulum purus nec sollicitudin maximus. Integer a tincidunt ex.